# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# AWS
.aws/

# Private keys
*.pem

# Operating system files
Thumbs.db
.DS_Store